// ==========================================================
//  DROPS
// ==========================================================

//  Dependencies:
@use "../setting" as *;
@use "../main/themes" as *;
@use "../main/mixins" as *;
@use "sass:map";
@use "sass:color";

// Drops
.dropdown,
.dropup,
.dropstart,
.dropend {
    position: relative;
}
// Dropdown
.dropdown {
    .drop-content {
        position: absolute;
        margin-top: 30px;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
        &.show {
            margin-top: 10px;
            opacity: 1;
            visibility: visible;
        }
    }
}
// Dropup
.dropup {
    .drop-content {
        position: absolute;
        margin-bottom: 30px;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
        &.show {
            margin-bottom: 10px;
            opacity: 1;
            visibility: visible;
        }
    }
}
// Dropstart
.dropstart {
    .drop-content {
        position: absolute;
        margin-top: 30px;
        margin-right: 10px;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
        &.show {
            margin-top: 0;
            opacity: 1;
            visibility: visible;
        }
        &[data-drop-position="end"] {
            margin-bottom: 10px;
        }
        &[data-drop-position="end"].show {
            margin-bottom: 0;
        }
    }
}
// Dropend
.dropend {
    .drop-content {
        position: absolute;
        margin-top: 30px;
        margin-left: 10px;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
        &.show {
            margin-top: 0;
            opacity: 1;
            visibility: visible;
        }
        &[data-drop-position="end"] {
            margin-bottom: 10px;
        }
        &[data-drop-position="end"].show {
            margin-bottom: 0;
        }
    }
}
// Drop
.drop {
    &-content {
        --drop-width: auto;
        --drop-border-radius: 10px;
        --drop-padding: 5px;
        --drop-min-width: 100px;
        --drop-background: #fff;
        --drop-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
        min-width: var(--drop-min-width);
        width: var(--drop-width);
        margin: var(--drop-offset);
        border-radius: var(--drop-border-radius);
        transform: var(--drop-transform);
        padding: var(--drop-padding);
        background-color: var(--drop-background);
        box-shadow: var(--drop-shadow);
        z-index: map.get($nexa-z-index, 2);
    }
}
@if map.has-key($nexa-drops, default) {
    $base: map.get($nexa-drops, default);

    .drop-content {
        --drop-width: #{map.get($base, width)};
        --drop-padding: #{map.get($base, padding)};
        --drop-border-radius: #{map.get($base, border-radius)};
    }
}

@each $name, $cfg in $nexa-drops {
    @if $name != default {
        .drop-content-#{$name} {
            --drop-width: #{map.get($cfg, width)};
            --drop-padding: #{map.get($cfg, padding)};
            --drop-border-radius: #{map.get($cfg, border-radius)};
        }
    }
}
// Dropmenu
.dropmenu {
    list-style: none;
    @include flex-column(3px);
    &-item {
        a,
        button {
            --dropitem-padding: 5px 12px;
            --dropitem-border-radius: 6px;
            @include flex(center, start, 8px, row);
            width: 100%;
            padding: var(--dropitem-padding);
            border-radius: var(--dropitem-border-radius);
            white-space: nowrap;
            cursor: pointer;
            transition: 0.2s;
            &:hover {
                background-color: color.scale(map.get($nexa-colors, dark), $lightness: 97%);
            }
            &:focus,
            &:active {
                color: var(--color-dark);
                background: color.scale(map.get($nexa-colors, dark), $lightness: 94%);
            }
            &.active {
                color: var(--color-primary);
                background: color.scale(map.get($nexa-colors, primary), $lightness: 88%);
                &:hover {
                    background: color.scale(map.get($nexa-colors, primary), $lightness: 82%);
                }
            }
            &.danger {
                color: var(--color-danger);
                &:hover {
                    background: color.scale(map.get($nexa-colors, danger), $lightness: 89%);
                }
                &:active,
                &:focus {
                    background: color.scale(map.get($nexa-colors, danger), $lightness: 90%);
                }
            }
            &:disabled,
            &.disabled {
                color: color.scale(map.get($nexa-colors, dark), $lightness: 60%);
                pointer-events: none;
            }
        }
    }
    &-divider {
        margin: 2px 0;
        padding: 0;
        height: 0;
        border: none;
        border-top: 1px solid color.scale(map.get($nexa-colors, dark), $lightness: 94%);
    }
    &-header {
        font-family: map.get($nexa-setting, font-title);
        padding: 5px 12px;
        font-weight: 600;
        font-size: 14px;
    }
}
