// ==========================================================
//  SPOILER
// ==========================================================

//  Dependencies:
@use "../setting" as *;
@use "sass:map";

.spoiler-content {
    overflow: hidden;
    max-height: 0;
    transition: map.get($nexa-transition, spoiler);

    &.show {
        max-height: 500px;
    }
}
