// ==========================================================
//  SPOILER
// ==========================================================

//  Dependencies:
@use "../setting" as *;
@use "sass:map";

.tabs {
    display: grid;
    &-content {
        grid-area: 1 / 1;
        opacity: 0;
        visibility: hidden;
        transition: map.get($nexa-transition, tabs);
        height: 0;
        overflow: hidden;
        &.show {
            opacity: 1;
            visibility: visible;
            height: auto;
            overflow: visible;
        }
    }
}
