// ==========================================================
//  ROOT
// ==========================================================

//  Dependencies:

@use "../setting" as *;
@use "themes" as *;
@use "sass:map";

// Root
:root,
[data-theme="light"] {
    @include theme($theme-skins, $theme-default);
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color-scheme: light dark;
}

// Theme generator
@if $theme-dark {
    [data-theme="dark"] {
        @include theme($theme-skins, dark);
    }
} @else if $theme-auto-repeat {
    @media (prefers-color-scheme: dark) {
        :root {
            @include theme($theme-skins, dark);
        }
    }
}

// Body
body {
    font-family: map.get($nexa-setting, font-text), sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans",
        "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: map.get($nexa-setting, main-font-size);
    line-height: map.get($nexa-setting, main-line-height);
    background-color: var(--body-bg);
    color: var(--color-text);
    height: 100%;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: 100%;
}
