:root {
    --border-color: #d1d9e0;
    --bg-primary: rgb(246 248 250);
    --color-white: #fff;
    --color-dark: #000;
    --menu-title: rgb(31, 35, 40);
    --primary-color: #3069ff;
    --primary-muted-color: rgb(48 105 255 / 8%);
    --transition: 0.2s;
    --border-radius: 15px;
}

body {
    --body-bg: var(--bg-primary);
    min-height: 100vh;
}
.main {
    display: grid;
    grid-template-columns: 220px 1fr;
    grid-gap: 50px;
    margin: 0 auto;
    width: 100%;
    max-width: 1100px;
}
/* Sidebar */
.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    padding-block: 30px;
    height: 100vh;
    position: sticky;
    top: 0;
}
.sidebar__logo {
    font-family: var(--font-title);
    font-size: 1.5rem;
    font-weight: 600;
}
.sidebar__menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.sidebar__menu-item {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    height: 50px;
    border-radius: var(--border-radius);
    font-family: var(--font-title);
    font-size: 1.1rem;
    font-weight: 600;
    width: 100%;
    padding-inline: 15px;
}
.sidebar__menu-item:hover {
    background-color: #edf1f5;
}
.sidebar__menu-item::after {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-left: auto;
    background-color: currentColor;

    -webkit-mask-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'><path d='M6 9l6 6 6-6'/></svg>");
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: contain;

    mask-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'><path d='M6 9l6 6 6-6'/></svg>");
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
}
.sidebar__menu-item.open {
    background-color: var(--color-white);
    -webkit-box-shadow: 0px -2px 30px -4px rgba(34, 60, 80, 0.09);
    -moz-box-shadow: 0px -2px 30px -4px rgba(34, 60, 80, 0.09);
    box-shadow: 0px -2px 30px -4px rgba(34, 60, 80, 0.09);
}
.sidebar__menu-item.open::after {
    transform: rotate(180deg);
}
.sidebar__submenu {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-block: 15px;

    position: relative;
}
.sidebar__submenu::before {
    content: "";
    position: absolute;
    top: 0;
    left: 15px;
    height: 100%;
    width: 1px;
    background-color: #d8dcdf;
}
.sidebar__submenu-item {
    padding: 2px 0 2px 30px;
    position: relative;
}
.sidebar__submenu-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 15px;
    height: 100%;
    width: 1px;
    background-color: transparent;
}
.sidebar__submenu-item:hover,
.sidebar__submenu-item.active {
    color: var(--primary-color);
}
.sidebar__submenu-item:hover::before,
.sidebar__submenu-item.active::before {
    background-color: var(--primary-color);
}
.sidebar__version {
    padding-block: 20px;
    font-size: 0.8rem;
    opacity: 0.5;
}
/* Content */
.content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-block: 30px;
}
.card {
    background-color: var(--color-white);
    border-radius: var(--border-radius);
    padding: 15px;
    -webkit-box-shadow: 0px -2px 30px -4px rgba(34, 60, 80, 0.09);
    -moz-box-shadow: 0px -2px 30px -4px rgba(34, 60, 80, 0.09);
    box-shadow: 0px -2px 30px -4px rgba(34, 60, 80, 0.09);
}
